     <div class="card card-primary">
              <div class="card-header">
                <h3 class="card-title">Message</h3>
              </div>
              <!-- /.card-header -->
              <!-- form start -->
               <form method="post" action="/Message/TextMessage">
                <div class="card-body">
                  <div class="form-group">
                    <label for="text">Text</label>
                    <textarea rows ="4" class="form-control" name="Text" placeholder="Enter message...."></textarea>
                  author: Alex
                  </div>
                  <button type="submit" class="btn btn-primary">Submit</button>
                </div>
              </form>
            </div>

