@{
    //ViewData["Title"] = "Home Page";
}

<div class="text-left">
    <h1 class="pl-2 display-4" style="background-image: url(/img/pexels-pixabay-163688.jpg); background-size: contain; background-repeat: no-repeat; height: 1000px; color: white;" >
       Welcome to Join My Car Trip!
    </h1>
    @*<img src="~/img/pexels-pixabay-163688.jpg" style="width: 100%; height: auto"/>*@
</div>
