    @model JoinMyCarTrip.Application.Models.Users.AddCommentFormViewModel

<div class="card card-warning">
    <div class="card-header">
        <h3 class="card-title">Add your comment</h3>
    </div>
    <!-- /.card-header -->
    <div class="card-body">
        <div class="row">
            <div class="col-md-6">
                <form method="post" action="/User/AddComment?tripOrganizerId=@ViewBag.TripOrganizerId" role="form">
                       <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                    <div class="form-group">
                          <label asp-for="Description" class="control-label">Comment </label>
                        <input asp-for="Description" textarea rows="3" class="form-control" placeholder="Enter your comment...." />
                        <span asp-validation-for="Description" class="text-danger"></span>
                    </div>
                    <div class="form-group clearfix">
                        <label>Did you like the trip organizer?</label>

                        <div class="icheck-success d-inline">
                            <input type="radio" name="IsNiceOrganizer" id="radioSuccess3">
                            <label for="radioSuccess3">
                                Yes
                            </label>
                        </div>
                        <div class="icheck-danger d-inline">
                            <input type="radio" name="IsNiceOrganizer" id="radioDanger3">
                            <label for="radioDanger3">
                                No
                            </label>
                        </div>
                    </div>
                  <div class="row pb-3">

                        <div class="col-md-6">
                            <button type="submit" class="btn btn-success float-left">Add</button>
                        </div>
                        <!-- /.card-body -->
                    </div>

                </form>
            </div>
        </div>
    </div>

</div>

<!-- /.card -->
