@model JoinMyCarTrip.Application.Models.Users.AddPetFormViewModel

<!-- Main content -->
<section class="content">
    <form method="post" action="/User/AddPet">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Add Pet</h1>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Pet</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                         <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="@Model.Type" class="control-label">Type</label>
                            <select class="form-control custom-select" name="Type">
                                <option selected="" disabled="">Select one</option>
                                <option>Dog</option>
                                <option>Cat</option>
                            </select>
                             <span asp-validation-for="Type" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                             <label asp-for="@Model.Description" class="control-label">Description </label>
                        <input asp-for="@Model.Description" textarea rows="3" class="form-control" />
                        <span asp-validation-for="Description" class="text-danger"></span>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row pb-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success float-left">Add</button>
            </div>
        </div>
    </form>
</section>