@using JoinMyCarTrip.Application.Models.Users
@model RoleViewModel

<div style="background-image: url(/img/pexels-pixabay-163688.jpg); background-size: contain; background-repeat: no-repeat; height: 1200px">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
              Error: This role has been assigned to the user.
            </div>
        </div>
    </div>
    <div class="col-4 pl-4 pt-2" style="color: azure;">

        <h3>
            <a class="text-primay" href="/Admin/Admin/Users" style="text-decoration: underline; color: red;">Select</a> another user or another role to this user.
        </h3>
    </div>
</div>