
@using JoinMyCarTrip.Data.Entities
@using Microsoft.AspNetCore.Identity
@inject SignInManager<ApplicationUser> SignInManager
@inject UserManager<ApplicationUser> UserManager

<ul class="navbar-nav">
    @if (SignInManager.IsSignedIn(User))
    {
        <li class="nav-item">
            <a class="nav-link" data-widget="pushmenu" href="#" role="button"><i class="fas fa-bars"></i></a>
        </li>
        <li class="nav-item d-none d-sm-inline-block">
            <a href="/Home" class="nav-link">Home</a>

        </li>
        <li class="nav-item">
            <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="/" method="post">
                <i class="fas fa-door-open"></i>
                <button type="submit" class="nav-link btn btn-link text-dark">Log Out</button>
            </form>
        </li>
    }
    else
    {

        <li class="nav-item">
            <a class="nav-link text-dark" href="/Identity/Account/Register">Register</a>
        </li>
        <li class="nav-item">
            <a class="nav-link text-dark" href="/Identity/Account/Login">Login</a>
        </li>
    }

</ul>


@* <ul class="navbar-nav ml-auto">
    <li class="nav-item">
    <form class="form-inline" asp-area="Identity" asp-page="/Account/Logout" asp-route-returnUrl="@Url.Page("/", new { area = "" })" method="post">
    <i class="fas fa-door-open"></i>
    <button type="submit" class="nav-link btn btn-link text-dark">Log Out</button>
    </form>
    </li>
    <li class="nav-item">
    <a class="nav-link" data-widget="fullscreen" href="#" role="button">
    <i class="fas fa-expand-arrows-alt"></i>
    </a>
    </li>
    </ul>*@