@using JoinMyCarTrip.Application.Utils

@if (User.Identity?.IsAuthenticated ?? false)
{
    <div class="user-panel mt-3 pb-3 mb-3 d-flex">
        <div class="image">
            <img src="@Gravtar.GetUrl(ViewBag.UserProfile.Email)" class="img-circle elevation-2" alt="User Image">
        </div>
        <div class="info">
            <a href="/User/Profile" class="nav-link">@(ViewBag.UserProfile.FullName)</a>
        </div>
    </div>
}
