@using JoinMyCarTrip.Application.Models.Trips
@model IEnumerable<TripListViewModel>

<div class="card">
    <div class="card-header">
        <h3 class="card-title">All Trips</h3>

        <div class="card-tools">
            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                <i class="fas fa-minus"></i>
            </button>
        </div>
    </div>
    <div class="card-body p-0">
        <table class="table table-striped projects">
            <thead>
                <tr>
                    <th style="width: 1%">
                        #
                    </th>
                    <th style="width: 20%">
                        Trip
                    </th>
                    <th style="width: 30%">
                        Passengers
                    </th>
                    <th style="width: 20%">
                    </th>
                </tr>
            </thead>
            <tbody>
                @foreach (var trip in @Model)
                {
                    <tr>
                        <td>
                            #
                        </td>
                        <td>
                            <a>
                                @trip.StartPoint - @trip.EndPoint
                            </a>
                            <br />
                            <small>
                                Departure Time: @trip.DepartureTime
                            </small>
                        </td>
                        <td>
                            @foreach(var passenger in trip.Passengers)
                            {
                            <ul class="list-inline">
                                <li class="list-inline-item">
                                    <img alt="Avatar" class="table-avatar" src="@passenger.GravatarLink">
                                </li>
                            </ul>
                            }
                        </td>
                        <td class="project-actions text-right">
                            <a class="btn btn-primary btn-sm" href="/Trip/Details?tripId=@trip.TripId">
                                <i class="fas fa-folder">
                                </i>
                                Details
                            </a>
                            <a class="btn btn-info btn-sm" href="/Message/TextMessage?tripId=@trip.TripId">
                                <i class="fas fa-pencil-alt">
                                </i>
                                Send message
                            </a>
                          
                        </td>

                    </tr>
                }
            </tbody>
        </table>
    </div>
    <!-- /.card-body -->
</div>
<!-- /.card -->