
<div style="background-image: url(/img/pexels-pixabay-163688.jpg); background-size: contain; background-repeat: no-repeat; height: 1200px">
    <div class="col-4 pl-4 pt-2" style="color: azure;">
        <h1>Great!</h1>
        <h3>You want to create a trip.</h3>
        <h3>
            First,
            <a class="text-primay" href="/Car/AddCar" style="text-decoration: underline; color: blue;">add</a>
            a car.
        </h3>
    </div>
</div>


