
<div style="background-image: url(/img/pexels-pixabay-163688.jpg); background-size: contain; background-repeat: no-repeat; height: 800px">
      <div class="col-4 pl-4">
    <h1>Great!</h1>
    <h3>You want to create a trip.</h3>
    <h3>
        Firstly,
        <a class="text-primay" href="/Car/AddCar">add</a>
        a car.
    </h3>
     </div>
 </div>
   
    
