@using JoinMyCarTrip.Application.Models.Trips
@model JoinMyCarTrip.Application.Models.Trips.CreateTripFormViewModel

<!-- Main content -->
<section class="content">
    @*<form method="post" action="/Trip/Create">*@
      <form asp-action="Create" asp-controller="Trip" method="post">
        <div class="row">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <h1>Create Trip</h1>

                <div class="card card-primary">
                    <div class="card-header">
                        <h3 class="card-title">Trip</h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool" data-card-widget="collapse" data-toggle="tooltip" title="Collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                        </div>
                    </div>
                    <div class="card-body">
                        <div asp-validation-summary="ModelOnly" class="text-danger"></div>
                        <div class="form-group">
                            <label asp-for="StartPoint" class="control-label">Start Point </label>
                            <input asp-for="StartPoint" class="form-control" />
                            <span asp-validation-for="StartPoint" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="EndPoint" class="control-label">End Point</label>
                            <input asp-for="EndPoint" class="form-control" />
                            <span asp-validation-for="EndPoint" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="DepartureTime" class="control-label">Departure Time </label>
                            <input asp-for="DepartureTime" min="@DateTime.Now" class="form-control" placeholder="dd/MM/yyyy HH:mm"/>
                            <span asp-validation-for="DepartureTime" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="CarId">Car</label>
                            <select asp-for="CarId" asp-items="@(new SelectList(ViewBag.Cars, nameof(TripCarViewModel.CarId), nameof(TripCarViewModel.Model)))" class="form-control custom-select">
                                <option selected="" disabled="">Select one</option>
                            </select>
                            <span asp-validation-for="CarId" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label for="seats">Seats</label>
                            <input min="2" max="7" type="number" name="Seats" class="form-control">
                             <span asp-validation-for="Seats" class="text-danger"></span>
                        </div>
                        <div class="form-group">
                            <label asp-for="TripTypeId">Trip Type</label>
                             <select asp-for="TripTypeId" asp-items="@(new SelectList(ViewBag.TripTypes, nameof(TripTypeViewModel.Id), nameof(TripTypeViewModel.Type)))" class="form-control custom-select">
                                <option selected="" disabled="">Select one</option>
                            </select>
                            <span asp-validation-for="TripTypeId" class="text-danger"></span>
                        </div>
                        <!-- /.card-body -->
                    </div>
                    <!-- /.card -->
                    <!-- /.card-body -->
                </div>
                <!-- /.card -->
            </div>
            <div class="col-md-3"></div>
        </div>
        <div class="row pb-3">
            <div class="col-md-3"></div>
            <div class="col-md-6">
                <button type="submit" class="btn btn-success float-left">Create</button>
            </div>
        </div>
    </form>
</section>