
<div style="background-image: url(/img/pexels-pixabay-163688.jpg); background-size: contain; background-repeat: no-repeat; height: 1200px">
    <div class="row">
        <div class="col">
            <div class="alert alert-danger" role="alert">
                @Model.ErrorMessage
            </div>
        </div>
    </div>
    <div class="col-4 pl-4 pt-2" style="color: azure;">

        <h3>
            <a class="text-primay" href="/Trip/All" style="text-decoration: underline; color: red;">Select</a> another trip
        </h3>
    </div>
</div>



